<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [15]:
!pip install sqlalchemy==1.3.9
!pip install pandas

Requirement already satisfied: sqlalchemy==1.3.9 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (1.3.9)
Requirement already satisfied: pandas in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (1.1.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.15.4 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from pandas) (1.21.6)
Requirement already satisfied: six>=1.5 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [2]:
%load_ext sql

In [3]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [29]:
!pip install -q pandas==1.1.5
!pip install --upgrade pandas

Requirement already satisfied: pandas in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (1.1.5)
Collecting pandas
  Downloading pandas-1.3.5-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (11.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.3/11.3 MB 85.8 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: python-dateutil>=2.7.3 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.17.3 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from pandas) (1.21.6)
Requirement already satisfied: six>=1.5 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Installing collected packages: pandas
  Attempting uninstall: pandas
    Found existing installation: pandas 1.1.5
    Uninstalling pandas-1.1.5:
      Successfully uninstalled pandas-1.1.5
Successfully installed pandas-1.3.5

In [5]:
%sql sqlite:///my_data1.db

'Connected: @my_data1.db'

In [34]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")
df.head(10)

/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/pandas/core/generic.py:2882: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  both result in 0.1234 being formatted as 0.12.

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing_Outcome
0,2010-04-06,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX,Success,Failure (parachute)
1,2010-08-12,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)
2,2012-05-22,07:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight C2,525,LEO (ISS),NASA (COTS),Success,No attempt
3,2012-08-10,00:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500,LEO (ISS),NASA (CRS),Success,No attempt
4,2013-01-03,15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677,LEO (ISS),NASA (CRS),Success,No attempt
5,2013-09-29,16:00:00,F9 v1.1 B1003,VAFB SLC-4E,CASSIOPE,500,Polar LEO,MDA,Success,Uncontrolled (ocean)
6,2013-03-12,22:41:00,F9 v1.1,CCAFS LC-40,SES-8,3170,GTO,SES,Success,No attempt
7,2014-06-01,22:06:00,F9 v1.1,CCAFS LC-40,Thaicom 6,3325,GTO,Thaicom,Success,No attempt
8,2014-04-18,19:25:00,F9 v1.1,CCAFS LC-40,SpaceX CRS-3,2296,LEO (ISS),NASA (CRS),Success,Controlled (ocean)
9,2014-07-14,15:15:00,F9 v1.1,CCAFS LC-40,OG2 Mission 1 6 Orbcomm-OG2 satellites,1316,LEO,Orbcomm,Success,Controlled (ocean)

**Note:This below code is added to remove blank rows from table**

In [27]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
(sqlite3.OperationalError) table SPACEXTABLE already exists
[SQL: create table SPACEXTABLE as select * from SPACEXTBL where Date is not null]
(Background on this error at: http://sqlalche.me/e/e3q8)

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [8]:
import sqlite3

# Établir une connexion à la base de données SQLite
conn = sqlite3.connect("my_data1.db")

# Créer un curseur pour exécuter des requêtes SQL
cur = conn.cursor()

# Exécuter la requête SQL pour sélectionner la colonne "ma_colonne"
cur.execute(" SELECT Launch_Site FROM SPACEXTABLE ;")

# Récupérer les résultats de la requête
resultats = cur.fetchall()

# Parcourir les résultats
for ligne in resultats:
    print(ligne[0])  # La colonne sélectionnée est à l'indice 0

# Fermer la connexion à la base de données
conn.close()

CCAFS LC-40
CCAFS LC-40
CCAFS LC-40
CCAFS LC-40
CCAFS LC-40
VAFB SLC-4E
CCAFS LC-40
CCAFS LC-40
CCAFS LC-40
CCAFS LC-40
CCAFS LC-40
CCAFS LC-40
CCAFS LC-40
CCAFS LC-40
CCAFS LC-40
CCAFS LC-40
CCAFS LC-40
CCAFS LC-40
CCAFS LC-40
CCAFS LC-40
VAFB SLC-4E
CCAFS LC-40
CCAFS LC-40
CCAFS LC-40
CCAFS LC-40
CCAFS LC-40
CCAFS LC-40
CCAFS LC-40
VAFB SLC-4E
KSC LC-39A
KSC LC-39A
KSC LC-39A
KSC LC-39A
KSC LC-39A
KSC LC-39A
KSC LC-39A
VAFB SLC-4E
KSC LC-39A
KSC LC-39A
VAFB SLC-4E
KSC LC-39A
VAFB SLC-4E
KSC LC-39A
KSC LC-39A
CCAFS SLC-40
VAFB SLC-4E
CCAFS SLC-40
CCAFS SLC-40
VAFB SLC-4E
CCAFS SLC-40
VAFB SLC-4E
CCAFS SLC-40
CCAFS SLC-40
KSC LC-39A
VAFB SLC-4E
CCAFS SLC-40
CCAFS SLC-40
CCAFS SLC-40
VAFB SLC-4E
CCAFS SLC-40
CCAFS SLC-40
VAFB SLC-4E
KSC LC-39A
VAFB SLC-4E
CCAFS SLC-40
CCAFS SLC-40
VAFB SLC-4E
CCAFS SLC-40
KSC LC-39A
CCAFS SLC-40
CCAFS SLC-40
VAFB SLC-4E
CCAFS SLC-40
CCAFS SLC-40
CCAFS SLC-40
CCAFS SLC-40
CCAFS SLC-40
CCAFS SLC-40
KSC LC-39A
CCAFS SLC-40
CCAFS SLC-40
CCAFS SLC-40
KSC LC-39A
KSC LC-39A
KSC LC-39A
CCAFS SLC-40
CCAFS SLC-40
CCAFS SLC-40
CCAFS SLC-40
KSC LC-39A
CCAFS SLC-40
CCAFS SLC-40
KSC LC-39A
KSC LC-39A
KSC LC-39A
CCAFS SLC-40
CCAFS SLC-40
KSC LC-39A
VAFB SLC-4E
CCAFS SLC-40
KSC LC-39A


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [9]:
import sqlite3

# Établir une connexion à la base de données SQLite
conn = sqlite3.connect("my_data1.db")

# Créer un curseur pour exécuter des requêtes SQL
cur = conn.cursor()

# Exécuter la requête SQL pour sélectionner la colonne "ma_colonne"
cur.execute(" SELECT Launch_Site FROM SPACEXTABLE WHERE Launch_Site LIKE '%CCA%' LIMIT 5; ")

# Récupérer les résultats de la requête
resultats = cur.fetchall()

# Parcourir les résultats
for ligne in resultats:
    print(ligne[0])  # La colonne sélectionnée est à l'indice 0

# Fermer la connexion à la base de données
conn.close()

CCAFS LC-40
CCAFS LC-40
CCAFS LC-40
CCAFS LC-40
CCAFS LC-40

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [10]:
import sqlite3

# Établir une connexion à la base de données SQLite
conn = sqlite3.connect("my_data1.db")

# Créer un curseur pour exécuter des requêtes SQL
cur = conn.cursor()

# Exécuter la requête SQL pour sélectionner la colonne "ma_colonne"
cur.execute(" SELECT SUM(\"PAYLOAD_MASS__KG_\") FROM SPACEXTABLE WHERE Customer = 'NASA (CRS)' ; ")

# Récupérer les résultats de la requête
resultats = cur.fetchall()

# Parcourir les résultats
for ligne in resultats:
    print(ligne[0])  # La colonne sélectionnée est à l'indice 0

# Fermer la connexion à la base de données
conn.close()

45596

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [11]:
import sqlite3

# Établir une connexion à la base de données SQLite
conn = sqlite3.connect("my_data1.db")

# Créer un curseur pour exécuter des requêtes SQL
cur = conn.cursor()

# Exécuter la requête SQL pour sélectionner la colonne "ma_colonne"
cur.execute(" SELECT Payload FROM SPACEXTABLE WHERE Booster_Version LIKE '%F9 v1.1%' ; ")

# Récupérer les résultats de la requête
resultats = cur.fetchall()

# Parcourir les résultats
for ligne in resultats:
    print(ligne[0])  # La colonne sélectionnée est à l'indice 0

# Fermer la connexion à la base de données
conn.close()

CASSIOPE
SES-8
Thaicom 6
SpaceX CRS-3
OG2 Mission 1  6 Orbcomm-OG2 satellites
AsiaSat 8
AsiaSat 6
SpaceX CRS-4
SpaceX CRS-5
DSCOVR
ABS-3A Eutelsat 115 West B
SpaceX CRS-6
Turkmen 52 / MonacoSAT
SpaceX CRS-7
Jason-3

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [20]:

import sqlite3

# Établir une connexion à la base de données SQLite
conn = sqlite3.connect("my_data1.db")

# Créer un curseur pour exécuter des requêtes SQL
cur = conn.cursor()

# Exécuter la requête SQL pour sélectionner la colonne "ma_colonne"
cur.execute(" SELECT MIN(Date) FROM SPACEXTABLE WHERE Landing_Outcome = 'Success (ground pad)' ")

# Récupérer les résultats de la requête
resultats = cur.fetchall()

 # La colonne sélectionnée est à l'indice 0
for ligne in resultats:
    print(ligne[0]) 
# Fermer la connexion à la base de données
conn.close()

2015-12-22

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [31]:

import sqlite3

# Établir une connexion à la base de données SQLite
conn = sqlite3.connect("my_data1.db")

# Créer un curseur pour exécuter des requêtes SQL
cur = conn.cursor()

# Exécuter la requête SQL pour sélectionner la colonne "ma_colonne"
cur.execute(" SELECT Booster_Version FROM SPACEXTABLE WHERE PAYLOAD_MASS__KG_<6000 AND PAYLOAD_MASS__KG_>4000 ")

# Récupérer les résultats de la requête
resultats = cur.fetchall()

 # La colonne sélectionnée est à l'indice 0
for ligne in resultats:
    print(ligne[0]) 
# Fermer la connexion à la base de données
conn.close()

F9 v1.1
F9 v1.1 B1011
F9 v1.1 B1014
F9 v1.1 B1016
F9 FT B1020
F9 FT B1022
F9 FT B1026
F9 FT B1030
F9 FT  B1021.2
F9 FT B1032.1
F9 B4 B1040.1
F9 FT  B1031.2
F9 B4 B1043.1
F9 FT  B1032.2
F9 B4  B1040.2
F9 B5 B1046.2
F9 B5 B1047.2
F9 B5B1054
F9 B5 B1048.3
F9 B5 B1051.2
F9 B5B1060.1
F9 B5 B1058.2
F9 B5B1062.1

### Task 7




##### List the total number of successful and failure mission outcomes

In [36]:
import sqlite3

# Établir une connexion à la base de données SQLite
conn = sqlite3.connect("my_data1.db")

# Créer un curseur pour exécuter des requêtes SQL
cur = conn.cursor()

# Exécuter la requête SQL pour sélectionner la colonne "ma_colonne"
cur.execute(" SELECT Mission_Outcome FROM SPACEXTABLE  ")

# Récupérer les résultats de la requête
resultats = cur.fetchall()

i=0
j=0
for ligne in resultats:
    
    if ligne[0] == 'Success':
        i=i+1
    else:
        j=j+1
# Fermer la connexion à la base de données
print("The number of success mission is: ",i)
print("The number of failure mission is: ",j)

conn.close()

The number of success mission is:  98
The number of failure mission is:  3

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [39]:
import sqlite3

# Établir une connexion à la base de données SQLite
conn = sqlite3.connect("my_data1.db")

# Créer un curseur pour exécuter des requêtes SQL
cur = conn.cursor()

# Exécuter la requête SQL pour sélectionner la colonne "ma_colonne"
cur.execute(" SELECT Booster_Version FROM SPACEXTABLE WHERE  PAYLOAD_MASS__KG_ = (SELECT MAX( PAYLOAD_MASS__KG_) FROM SPACEXTABLE); ")

# Récupérer les résultats de la requête
resultats = cur.fetchall()

for ligne in resultats:
    print(ligne[0])
# Fermer la connexion à la base de données
conn.close()

F9 B5 B1048.4
F9 B5 B1049.4
F9 B5 B1051.3
F9 B5 B1056.4
F9 B5 B1048.5
F9 B5 B1051.4
F9 B5 B1049.5
F9 B5 B1060.2
F9 B5 B1058.3
F9 B5 B1051.6
F9 B5 B1060.3
F9 B5 B1049.7

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 4, 2) as month to get the months and substr(Date,7,4)='2015' for year.**

In [47]:
import sqlite3

# Établir une connexion à la base de données SQLite
conn = sqlite3.connect("my_data1.db")

# Créer un curseur pour exécuter des requêtes SQL
cur = conn.cursor()

# Exécuter la requête SQL pour sélectionner la colonne "ma_colonne"
cur.execute("SELECT strftime('%m', Date) AS mois,Landing_Outcome AS resultat_atterrissage,Booster_Version AS versions_booster,launch_site AS site_lancement FROM SPACEXTABLE WHERE strftime('%Y', Date) = '2015' AND Landing_Outcome = 'Failure (drone ship)';")

# Récupérer les résultats de la requête
resultats = cur.fetchall()
print(resultats)

for ligne in resultats:
    print(ligne[0])
# Fermer la connexion à la base de données
conn.close()

[('10', 'Failure (drone ship)', 'F9 v1.1 B1012', 'CCAFS LC-40'), ('04', 'Failure (drone ship)', 'F9 v1.1 B1015', 'CCAFS LC-40')]
10
04

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [48]:
import sqlite3

# Établir une connexion à la base de données SQLite
conn = sqlite3.connect("my_data1.db")

# Créer un curseur pour exécuter des requêtes SQL
cur = conn.cursor()

# Exécuter la requête SQL pour sélectionner la colonne "ma_colonne"
cur.execute(" SELECT Landing_Outcome, COUNT(*) AS Nombre_Atterrissages FROM SPACEXTABLE WHERE Date BETWEEN '2010-06-04' AND '2017-03-20' GROUP BY Landing_Outcome ORDER BY Nombre_Atterrissages DESC;")


# Récupérer les résultats de la requête
resultats = cur.fetchall()
print(resultats)

for ligne in resultats:
    print(ligne[0])
# Fermer la connexion à la base de données
conn.close()

[('No attempt', 10), ('Success (ground pad)', 5), ('Success (drone ship)', 5), ('Failure (drone ship)', 5), ('Controlled (ocean)', 3), ('Uncontrolled (ocean)', 2), ('Precluded (drone ship)', 1), ('Failure (parachute)', 1)]
No attempt
Success (ground pad)
Success (drone ship)
Failure (drone ship)
Controlled (ocean)
Uncontrolled (ocean)
Precluded (drone ship)
Failure (parachute)

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>